.form_buttons {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  >button {
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
}